@inherits FBase_Edit;
<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light">
                @if (p_iPhieu_Xuat_Kho_ID != 0)
                {
                    <h5 class="modal-title">@Get_Language_Data_Field("Hiệu chỉnh")</h5>
                }
                else
                {
                    <h5 class="modal-title">@Get_Language_Data_Field("Thêm mới")</h5>
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
                </button>
            </div>

            @(
                (MarkupString)r_strError
                )

            <EditForm Model="@m_objData">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @p_iPhieu_Xuat_Kho_ID
                            <div class="row mb-1">
                                <label class="form-label">@Get_Language_Data_Field("Sản phẩm cần chỉnh"):</label>
                                <TelerikMultiColumnComboBox @bind-Value="@m_objData.San_Pham_ID"
                                                            ScrollMode="@DropDownScrollMode.Virtual"
                                                            Data="@m_arrData_San_Pham"
                                                            ValueField="@(nameof(CDM_San_Pham.Auto_ID))"
                                                            TextField="@(nameof(CDM_San_Pham.Ten_San_Pham))"
                                                            Width="100%"
                                                            PageSize="10"
                                                            ItemHeight="35"
                                                            Filterable="true"
                                                            FilterOperator="@StringFilterOperator.Contains"
                                                            ListHeight="260px">
                                    <MultiColumnComboBoxColumns>
                                        <MultiColumnComboBoxColumn Field="@nameof(CDM_San_Pham.Ten_San_Pham)" Title="@Get_Language_Data_Field("Tên")" Width="250px" Class="k-tks-combobox-item" HeaderClass="k-tks-combobox-header" />
                                    </MultiColumnComboBoxColumns>
                                </TelerikMultiColumnComboBox>
                            </div>

                            <div class="row mb-1">
                                <div class="col-lg-4 col-form-label">
                                    <label class="form-label">@Get_Language_Data_Field("Số lượng xuất"):</label>
                                </div>
                                <div class="col-lg-8">
                                    <input @ref="txtFocus" @bind="@m_objData.SL_Xuat" class="form-control">

                                </div>
                            </div>

                            <div class="row mb-1">
                                <div class="col-lg-4 col-form-label">
                                    <label class="form-label">@Get_Language_Data_Field("Đơn giá xuất"):</label>
                                </div>
                                <div class="col-lg-8">
                                    <input @ref="txtFocus" @bind="@m_objData.Don_Gia_Xuat" class="form-control">

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </EditForm>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="@Save_Data">@Get_Language_Data_Field("Lưu Thay Đổi")</button>
            </div>
        </div>
    </div>
</div>

@code {
    private CDM_Phieu_Xuat_Kho m_objData = new();
    private CDM_Phieu_Xuat_Kho m_objEdit = new();
    List<CDM_San_Pham> m_arrData_San_Pham = new();
    [Parameter]
    public long p_iXuat_Kho_ID { get; set; }

    [Parameter]
    public long p_iPhieu_Xuat_Kho_ID { get; set; }

    protected override void Init_Data()
    {
        m_arrData_San_Pham = CCache_San_Pham.Arr_Data.Where(it => it.Auto_ID != r_iAuto_ID).ToList();
    }

    protected override void Load_Data()
    {
        CDM_Phieu_Xuat_Kho_Controller v_objCtrData = new();
        m_objData = v_objCtrData.FQ_734_XKRD_sp_sel_Get_By_ID(p_iXuat_Kho_ID);

        if (m_objData == null)
            m_objData = new CDM_Phieu_Xuat_Kho();
        else
        {
            r_bUpdate = true;

            // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
            CDM_Phieu_Xuat_Kho v_objClone = new();
            CUtility.Clone_Entity(m_objData, v_objClone);
            r_objSource = v_objClone;
            // End tracking
        }
    }
    protected override void Add_Data()
    {
        CDM_Phieu_Xuat_Kho_Controller v_objCtrData = new();
        m_objData.Last_Updated_By = r_strActive_User_Name;
        m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
        m_objData.Xuat_Kho_ID = p_iXuat_Kho_ID;
        // m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.F1022_A_sp_ins_API_Source_Function(m_objData);
        m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.FQ_734_XKRD_sp_ins_Insert(m_objData);

        // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
        r_strAdd_Key = m_objData.Xuat_Kho_ID.ToString();
        // End tracking

        CCache_Xuat_Kho.Load_Cache_Xuat_Kho();
    }

    protected override void Update_Data()
    {
        CDM_Phieu_Xuat_Kho_Controller v_objCtrData = new();
        m_objData.Last_Updated_By = r_strActive_User_Name;
        m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
        //v_objCtrData.F1022_A_Update_Sys_API_Source_Function(m_objData);
        v_objCtrData.FQ_734_XKRD_sp_upd_Update(m_objData);

        // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
        CSys_API_Source_Function v_objClone = new();
        CUtility.Clone_Entity(m_objData, v_objClone);
        r_objDes = v_objClone;
        // End tracking
        CCache_Xuat_Kho.Load_Cache_Xuat_Kho();
        CCache_Phieu_Xuat_Kho.Load_Cache_Phieu_Xuat_Kho();
    }

}
