@inherits FBase_Edit;

<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">@Get_Language_Data_Field("Hiệu chỉnh")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
                </button>
            </div>

            @((MarkupString)r_strError)

            <EditForm Model="@m_objData">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Số phiếu nhập kho"):</label>
                                    <input @ref="txtFocus" @bind="@m_objData.So_Phieu_Xuat_Kho" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Kho"):</label>
                                    <input @bind="@m_objData.Kho_ID" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Ghi chú"):</label>
                                    <input @bind="@m_objData.Ghi_Chu" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3">
                            

                        </div>
                    </div>
                </div>
            </EditForm>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="@Save_Data" style="margin-right: 37px;">@Get_Language_Data_Field("Lưu Thay Đổi")</button>
            </div>
        </div>
    </div>
</div>

@code {
    private CDM_Xuat_Kho m_objData = new();


    protected override void Init_Data()
    {
    }

    protected override void Load_Data()
    {
        CDM_Xuat_Kho_Controller v_objCtrData = new();
        m_objData = v_objCtrData.FQ_728_XK_sp_sel_Get_By_ID(r_iAuto_ID);

        r_bUpdate = true;

        // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
        CSys_API_Source v_objClone = new();
        CUtility.Clone_Entity(m_objData, v_objClone);
        r_objSource = v_objClone;
        // End tracking
    }


    protected override void Update_Data()
    {
        CDM_Xuat_Kho_Controller v_objCtrData = new();
        m_objData.Last_Updated_By = r_strActive_User_Name;
        m_objData.Last_Updated_By_Function = r_strActive_Function_Code;

        //v_objCtrData.F1022_sp_upd_API_Source(m_objData);
        v_objCtrData.FQ_728_XK_sp_upd_Update(m_objData);

        // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
        CSys_API_Source v_objClone = new();
        CUtility.Clone_Entity(m_objData, v_objClone);
        r_objDes = v_objClone;
        // End tracking

        CCache_Xuat_Kho.Load_Cache_Xuat_Kho();
        CCache_Phieu_Xuat_Kho.Load_Cache_Phieu_Xuat_Kho();
    }


}
