
@inherits FBase;
<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true" style="display: block; padding-left: 0px; background-color: rgba(10, 10, 10, .8);">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title">@Get_Language_Data_Field("Thêm mới")</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="@(()=> Modal_Cancel())">
                </button>
            </div>


            @((MarkupString)r_strError)

            <EditForm Model="@m_objData">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3">
                          
                            <div class="row mb-3">
                                <div class="col-lg-11">

                                    <label class="form-label">@Get_Language_Data_Field("Số phiếu nhập kho"):</label>
                                    <input @ref="txtFocus" @bind="@m_objData.So_Phieu_Nhap_Kho" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Ngày nhập kho"):</label>
                                    <TelerikDateTimePicker Min="@Min" Max="@Max"
                                                           @bind-Value="@m_objData.Ngay_Nhap_Kho"
                                                           Format="dd MMM yyyy HH:mm:ss"
                                                           Width="100%">
                                    </TelerikDateTimePicker>

                                </div>
                            </div>
                           
                        </div>
                        <div class="col-lg-3">
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Kho"):</label>
                                    <TelerikMultiColumnComboBox @bind-Value="@m_objData.Kho_ID"
                                                                ScrollMode="@DropDownScrollMode.Virtual"
                                                                Data="@m_arrData"
                                                                ValueField="@(nameof(CDM_Kho.Auto_ID))"
                                                                TextField="@(nameof(CDM_Kho.Ten_Kho))"
                                                                Width="100%"
                                                                PageSize="10"
                                                                ItemHeight="35"
                                                                Filterable="true"
                                                                FilterOperator="@StringFilterOperator.Contains"
                                                                ListHeight="260px">
                                        <MultiColumnComboBoxColumns>
                                            <MultiColumnComboBoxColumn Field="@nameof(CDM_Kho.Ten_Kho)" Title="@Get_Language_Data_Field("Tên")" Width="250px" Class="k-tks-combobox-item" HeaderClass="k-tks-combobox-header" />
                                        </MultiColumnComboBoxColumns>
                                    </TelerikMultiColumnComboBox>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("NCC"):</label>
                                    <TelerikMultiColumnComboBox @bind-Value="@m_objData.NCC_ID"
                                                                ScrollMode="@DropDownScrollMode.Virtual"
                                                                Data="@m_arrDataLSP"
                                                                ValueField="@(nameof(CDM_NCC.Auto_ID))"
                                                                TextField="@(nameof(CDM_NCC.Ten_NCC))"
                                                                Width="100%"
                                                                PageSize="10"
                                                                ItemHeight="35"
                                                                Filterable="true"
                                                                FilterOperator="@StringFilterOperator.Contains"
                                                                ListHeight="260px">
                                        <MultiColumnComboBoxColumns>
                                            <MultiColumnComboBoxColumn Field="@nameof(CDM_NCC.Ten_NCC)" Title="@Get_Language_Data_Field("Tên")" Width="250px" Class="k-tks-combobox-item" HeaderClass="k-tks-combobox-header" />
                                        </MultiColumnComboBoxColumns>
                                    </TelerikMultiColumnComboBox>
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-lg-3">
                            <div class="row mb-3">
                                <div class="col-lg-11">
                                    <label class="form-label">@Get_Language_Data_Field("Ghi chú"):</label>
                                    <input @bind="@m_objData.Ghi_Chu" class="form-control">
                                </div>
                            </div>

                        </div>
                     
                        
                    </div>

                </div>
            </EditForm>
            <div class="modal-body" style="padding-top: 0px !important;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0" style="float: left;">
                            @if (r_objChuc_Nang.Is_Have_Add_Permission == true)
                            {
                                <button type="button" class="btn rounded-pill btn-primary waves-effect waves-light" @onclick="@(()=> Open_Phieu_Nhap_Edit(0))">
                                    <i class="ri-add-circle-fill align-bottom me-1"></i>
                                    @Get_Language_Data_Field("Thêm")
                                </button>
                            }
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-12">
                        <TelerikGrid Data="@m_objData.Phieu_Nhap_Kho" Height="250px" Resizable="true" Reorderable="true" @ref="@grdData">
                            <GridColumns>
                                <GridCheckboxColumn SelectAll="true" CheckBoxOnlySelection="true" Width="30px"></GridCheckboxColumn>
                                <GridColumn Width="30px">
                                    <Template Context="Phieu_Nhap_Kho">
                                        <button class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-cog-outline" style="color: purple;"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            @if (r_objChuc_Nang.Is_Have_Edit_Permission == true)
                                            {
                                                <li>
                                                    <button class="dropdown-item" type="button" @onclick="@(()=> Open_Phieu_Nhap_Edit((Phieu_Nhap_Kho as CDM_Phieu_Nhap_Kho).Auto_ID))"><i class="ri-edit-2-line align-bottom me-1"></i> &nbsp; @Get_Language_Data_Field("Hiệu chỉnh")</button>
                                                </li>
                                            }
                                            @if (r_objChuc_Nang.Is_Have_Delete_Permission == true)
                                            {
                                                <li>
                                                    <button class="dropdown-item" type="button" @onclick="@(()=> Delete_Function((Phieu_Nhap_Kho as CDM_Phieu_Nhap_Kho)))"><i class="ri-delete-bin-line align-bottom me-1"></i> &nbsp; @Get_Language_Data_Field("Xóa")</button>
                                                </li>
                                            }
                                        </ul>
                                    </Template>
                                </GridColumn>
                                <GridColumn Title="Sản phẩm" Width="150px">
                                    <Template Context="item">
                                        @CUtility.Get_Label_Text(CCache_San_Pham.Get_Data_By_ID((item as CDM_Phieu_Nhap_Kho).San_Pham_ID)?.Ten_San_Pham, false)
                                    </Template>
                                </GridColumn>
                                <GridColumn Field="SL_Nhap" Title="Số lượng nhập" Width="100px" />
                                <GridColumn Field="Don_Gia_Nhap" Title="Đơn giá nhập" Width="100px" />
                                
                            </GridColumns>
                        </TelerikGrid>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="@Save_Data" style="margin-right: 37px;">@Get_Language_Data_Field("Lưu Thay Đổi")</button>
            </div>
        </div>
    </div>
</div>

@if (m_blIs_Show_Edit_Phieu_Nhap == true)
{
    <F7001_A_Phieu_Nhap_Kho_Edit p_iPhieu_Nhap_Kho_ID="@m_iPhieu_Nhap_ID" p_arrPhieu_Nhap_Kho="@m_objData.Phieu_Nhap_Kho" OnClose="@Close_Phieu_Nhap"></F7001_A_Phieu_Nhap_Kho_Edit>
}

@code {
    public List<CDM_Phieu_Nhap_Kho> v_arrData = new();
    TelerikGrid<CDM_Phieu_Nhap_Kho> grdData = new();
    private CDM_Nhap_Kho m_objData = new();
    private CDM_Phieu_Nhap_Kho m_objDataPhieu_Nhap = new();
    private CDM_San_Pham m_objData_SP = new();
    private List<IBrowserFile> loadedFiles = new();
    private bool m_bIs_Update_File = false;
    List<CDM_Kho> m_arrData = new();
    List<CDM_NCC> m_arrDataLSP = new();
    List<CDM_San_Pham> m_arrDataSP = new();
    private DateTime Min = new DateTime(2000, 1, 1);
    private DateTime Max = new DateTime(2100, 12, 31);

    private long m_iPhieu_Nhap_ID { get; set; } = 0;
    private bool m_blIs_Show_Edit_Phieu_Nhap { get; set; } = false;
    protected override void Init_Data()
    {
        m_arrData.Clear();
        m_arrData = CCache_Kho.Arr_Data.Where(it => it.Auto_ID != r_iAuto_ID).ToList();
        m_arrDataLSP = CCache_NCC.Arr_Data.Where(it => it.Auto_ID != r_iAuto_ID).ToList();
        m_arrDataSP = CCache_San_Pham.Arr_Data.Where(it => it.Auto_ID != r_iAuto_ID).ToList();
    }

    protected override void Load_Data()
    {
        Format_Grid(grdData);
        //Nhập kho
        CDM_Nhap_Kho_Controller v_objCtrData = new();
        CDM_Phieu_Nhap_Kho_Controller v_objCtrDataPhieu_Nhap = new();
        m_objData = v_objCtrData.FQ_718_NK_sp_sel_Get_By_ID(r_iAuto_ID);
        
        if (m_objData == null)
            m_objData = new CDM_Nhap_Kho();
        else
        {
            r_bUpdate = true;
            m_objData.Phieu_Nhap_Kho = v_objCtrDataPhieu_Nhap.F7001_sp_sel_List_By_Nhap_Kho_ID(m_objData.Auto_ID);
            // Đoạn code lưu key cho việc tracking log CRUD, vui lòng đừng xóa
            CDM_Nhap_Kho v_objClone = new();
            CUtility.Clone_Entity(m_objData, v_objClone);
            r_objSource = v_objClone;
            // End tracking
        
        }
        Hide_Pageable(grdData);
       
    }
    public void Delete_Function(CDM_Phieu_Nhap_Kho p_objData)
    {
        m_objData.Phieu_Nhap_Kho.Remove(p_objData);
        grdData.Rebind();
    }
    private void AddCT_Phieu_Nhap(SqlConnection p_conn, SqlTransaction p_trans, StringBuilder p_sbError)
    {
        CDM_Phieu_Nhap_Kho_Controller v_objCtrPhieu_Nhap = new();
        int v_iCount = 0;
        foreach (CDM_Phieu_Nhap_Kho v_obj in m_objData.Phieu_Nhap_Kho)
        {
            v_iCount++;
            try
            {
                //insert
                v_obj.Nhap_Kho_ID = r_iAuto_ID;
                //v_objCtrFunction.F1022_A_sp_ins_API_Source_Function(p_conn, p_trans, v_obj);
                v_objCtrPhieu_Nhap.FQ_719_NKRD_sp_ins_Insert(p_conn, p_trans, v_obj);
            }
            catch (Exception ex)
            {
                p_sbError.AppendLine(Get_Language_Data_Field("Dòng") + " " + v_iCount.ToString() + " " + Get_Language_Data_Field("có lỗi") + ": " + ex.Message + ":" + v_obj.Nhap_Kho_ID + "<br/>");
            }
        }
    }
    protected override void Add_Data()
    {
        SqlConnection v_conn = null;
        SqlTransaction v_trans = null;
        CDM_Nhap_Kho_Controller v_objCtrData = new();
        // CSys_API_Source_Function_Controller v_objCtrFunction = new();

        StringBuilder v_sbError = new StringBuilder();

        try
        {
            //tao ket noi transaction
            v_conn = CSqlHelper.CreateConnection(CConfig.TKS_Thuc_Tap_V11_Conn_String);
            v_conn.Open();
            v_trans = v_conn.BeginTransaction();

            m_objData.Last_Updated_By = r_strActive_User_Name;
            m_objData.Last_Updated_By_Function = r_strActive_Function_Code;
            //m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.F1022_sp_ins_API_Source(v_conn, v_trans, m_objData);
            m_objData.Auto_ID = r_iAuto_ID = v_objCtrData.FQ_718_NK_sp_ins_Insert(v_conn, v_trans, m_objData);

            //ghi tracking log
            r_strAdd_Key = "Key: " + m_objData.So_Phieu_Nhap_Kho;

            //CẬP NHẬT dòng chi tiết
            AddCT_Phieu_Nhap(v_conn, v_trans, v_sbError);

            if (v_sbError.ToString().Length > 0)
                throw new Exception(v_sbError.ToString());

            v_trans.Commit();
            CCache_Nhap_Kho.Load_Cache_Nhap_Kho();
            CCache_Phieu_Nhap_Kho.Load_Cache_Phieu_Nhap_Kho();
        }

        catch (Exception ex)
        {
            if (v_trans != null)
                v_trans.Rollback();

            throw ex;
        }

        finally
        {
            if (v_trans != null)
                v_trans.Dispose();

            if (v_conn != null)
                v_conn.Close();
        }
    }



    #region form Edit con
    protected void Open_Phieu_Nhap_Edit(long p_iAuto_ID)
    {
        r_strError = "";
        m_iPhieu_Nhap_ID = p_iAuto_ID;
        m_blIs_Show_Edit_Phieu_Nhap = true;
        StateHasChanged();
    }
    private void Close_Phieu_Nhap(CEvent_Call_Back p_obj)
    {
        if (p_obj.Message_ID != (int)EModal_Result.Exception)
        {
            m_blIs_Show_Edit_Phieu_Nhap = false;
            grdData.Rebind();
        }
    }
    #endregion form Edit con

}